@use "variables" as *;

/* Common styles for the Players page and Towns page */

.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 8px;

    border: $border;
    border-radius: $radius-xl;
    box-sizing: border-box;
    padding: 8px;
    /* padding-right: 12px; */

    margin-bottom: 10px;

    overflow-y: scroll;
    height: calc(100vh - 260px);
    min-height: 200px;

    align-content: start;

    .card-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 104px;
        background-color: $card-bg;

        color: #fff;

        border: $card-border;
        border-radius: $radius-m;
        overflow: hidden;
        box-sizing: border-box;

        .status-light {
            align-self: flex-start;
            margin: 10px 10px 0 auto;
        }

        .card-details {
            display: flex;
            flex-direction: column;
        }

        h2 {
            margin: 0;
            font-size: 1.5em;
            font-weight: bold;
            // Font size for town name is set in the JS applyNameScale() function
        }

        p {
            margin: 2px 0;
            font-size: 14px;
            color: #c5c6c7;
        }
    }
}

@media (max-width: 950px) {
    .card-container h2 {
        font-size: 1.2em;
    }
}
