/* Styles for the Players page */

.card-container .player-skin {
    width: 68px;

    position: relative;
    top: 8px;
    align-self: flex-start;

    margin-left: 4px;
    margin-right: 4px;

    // New API doesn't have shading, so the skins look a bit too bright and colorful
    filter: saturate(90%);
}

.card-container h2 {
    font-size: 1.5em;
}

@media (max-width: 950px) {
    .card-container .player-skin {
        width: 42px;
        margin-right: 4px;
        top: 20px;

        position: unset;
        align-self: unset;
    }

    .card-container h2 {
        font-size: 1.2em;
    }
}
