@use "variables" as *;

.leaderboard {
    border: $border;
    border-radius: $radius-xl;
    padding: 8px;
    padding-bottom: 0px;
    width: 500px;
    margin-inline: auto;
    overflow: hidden;

    .leaderboard-header {
        display: flex;
        height: 24px;
        align-items: center;

        #stat-select {
            margin-left: 0px;
        }

        #unit-label {
            margin-left: auto;
            margin-right: 10px;
            color: rgba(255, 255, 255, 0.8);
            font-size: 1.2rem;
        }
    }
}

.stats-container {
    min-height: 100px;
    margin-right: -6px;
    padding-right: 6px;

    .stat-entry {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 4px 16px;
        background-color: $bg;
        margin: 6px 0;
        border-radius: $radius-xs;
        border: $border;
        color: rgba(255, 255, 255, 0.85);
        font-family: "Inter", sans-serif;

        h3 {
            font-size: 1.2em;
        }

        &:first-child {
            border-top-left-radius: $radius-m;
            border-top-right-radius: $radius-m;
        }
        &:last-child {
            border-bottom-left-radius: $radius-m;
            border-bottom-right-radius: $radius-m;
        }

        .player-rank {
            font-feature-settings: "tnum";
            font-variant-numeric: tabular-nums;
            width: 70px;
            color: rgba(255, 255, 255, 0.85);
        }

        .player-face {
            width: 32px;
            height: 32px;
            border-radius: 5px;
            image-rendering: pixelated;
            margin-right: 10px;
        }

        .player-name {
            font-weight: bold;
        }

        .player-stat-value {
            margin-left: auto;
        }
    }
}

/* move to wherever the horizontal one is */
.vertical-separator {
    min-height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    margin-top: 8px;
}

.stats-container {
    overflow-y: scroll;
    height: calc(100vh - 276px);
    padding-block: 2px;
}

@media (max-width: 950px) {
    .leaderboard {
        width: auto;
        margin-inline: unset;
    }
}

@media (max-width: 550px) {
    #unit-label {
        font-size: 0.8em;
        min-width: fit-content;
        margin-left: auto;
    }

    #stat-select {
        width: 200px;
        margin-right: 10px;
    }

    .player-rank {
        width: 50px;
    }

    .player-face {
        width: 28px;
        height: 28px;
    }

    .stat-entry {
        font-size: 0.9em;
    }
}
