/* Common variables across the website */

$bg: rgba(#fff, 0.1);
$border: 2px solid rgba(#fff, 0.1);

$radius-xl: 24px;
$radius-l: 20px;
$radius-m: 16px;
$radius-s: 12px;
$radius-xs: 8px;

$card-bg: $bg;
$card-border: $border;

$transition: 300ms cubic-bezier(0.19, 1, 0.22, 1);
