<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}TEAW{% endblock %}</title>
        <link rel="shortcut icon" href="/imgs/teaw_logo.svg" media="(prefers-color-scheme: dark)">
        <link rel="shortcut icon" href="/imgs/teaw_logo_light.svg" media="(prefers-color-scheme: light)">

        <!-- Preload important stuff -->
        <link rel="preload" href="/css/base_template.css" as="style">
        <link rel="preload" href="/css/base_common.css" as="style">
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" as="style">

        <link rel="stylesheet" type="text/css" href="/css/base_template.css">
        <link rel="stylesheet" type="text/css" href="/css/base_common.css">
        <link rel="stylesheet" type="text/css" href="/css/animations.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>
            body {
                background-color: #0D150C;  /* Prevent flashbang before the actual background image loads */
            }
        </style>

        <!-- Meta stuff -->
        <meta name="description" content="The website for the ToEndAllWars modded Minecraft server.">

        <!-- Embed stuff -->
        <meta property="og:title" content="ToEndAllWars">
        <meta property="og:description" content="Will you participate in the war to end all wars?">
        <meta property="og:image" content="/imgs/teaw_logo_png.png">
        <meta property="og:url" content="https://toendallwars.org/">
        <meta property="og:site_name" content="TEAW">
        <meta property="og:type" content="website">
        <meta http-equiv="refresh" content="86400">

        <meta name="theme-color" content="#0D150C"/>

        <!-- From Google Fonts Embed section -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">        
        <!-- Google Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu,menu_book" />

        <!-- PWA Setup -->
        <link rel="manifest" href="/manifest.json">
        <script>
            // this was from some example on GitHub, can't find it though :(
            if ("serviceWorker" in navigator) {
                navigator.serviceWorker
                    .register("/js/sw.js")
                    .then(function (registration) {
                    })
                    .catch(function (err) {
                    console.log("ServiceWorker registration failed: ", err);
                    });
            }
        </script>
    </head>

    <body>
        <nav id="navbar" class="navbar">
            <a class="nav-logo" href="/" ><img src="/imgs/teaw_logo.svg" alt="TEAW logo" style="width: 3em;" id="nav-img"></a> 
            <a href="javascript:void(0);" class="menu-button" onclick="hamburgerNav()"><span class="material-symbols-outlined">menu</span></a>

            <a id="players-link" href="/players">PLAYERS</a>
            <a id="towns-link" href="/towns">TOWNS</a>
            <a id="chat-link" href="/chat">CHAT</a>
            <a id="stats-link" href="/stats">STATS</a>
            <a id="map-link" href="/map">MAP</a>
            <a id="showcase-link" href="/showcase">SHOWCASE</a>

            <div class="online-players" id="nav-online-players">
                <div class="status-light" id="nav-status-light" data-state="green" data-pulse="true"></div>
                <h3 id="online-count">0 players online</h3>
            </div>
        </nav>

        <div class="main-content">
            <!-- Begin child document -->
            {% block content %}
            {% endblock %}
            <!-- End child document -->
        </div>

        <footer class="footer">
            <a href="https://github.com/besser435/TEAW-Website/commits/prod/" target="_blank" style="text-decoration: none;">
                <p style="margin-top: 5px;">Version: {{ last_commit_date }}</p>
            </a>

            <div class="footer-links">
                <a href="https://discord.com/invite/aNMhxynFS2" target="_blank"><img src="/imgs/discord_mark.svg" height="20" alt="Discord link"></a>
                <a href="https://www.curseforge.com/minecraft/modpacks/toendallwars" target="_blank"><img src="/imgs/curseforge_mark.svg" height="17" alt="Modpack link"></a>
                <a href="https://toendallwars.fandom.com/wiki/ToEndAllWars_Wiki" target="_blank"><span class="material-symbols-outlined">menu_book</span></a>
                <a href="https://github.com/besser435/TEAW-Website" target="_blank"><img src="/imgs/github_mark.svg" height="23" alt="Website GitHub link"></a>
            </div>
        </footer>
    </body>

    <script src="/js/base.js"></script>
</html>
