<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}TEAW{% endblock %}</title>

        <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
        <link rel="stylesheet" type="text/css" href="/css/base_templates.css">
        <link rel="stylesheet" type="text/css" href="/css/base_common.css">

        <!-- Embed stuff -->
        <meta property="og:title" content="ToEndAllWars">
        <meta property="og:description" content="Will you participate in the war to end all wars?">
        <meta property="og:image" content="/imgs/teaw_logo.svg">
        <meta property="og:url" content="https://toendallwars.org/">
        <meta property="og:site_name" content="TEAW">
        <meta property="og:type" content="website">
        <meta http-equiv="refresh" content="86400">

        <meta name="theme-color" content="#555"/>   <!-- TODO: Update this -->

        <!-- Placeholder font for now. Uses Arial everything else. -->
        <!-- From Google Fonts Embed section -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        
        <!-- 
        TODO: Add umami analytics
        https://umami.is/docs/getting-started
        -->

        <!-- PWA setup -->
        <link rel="manifest" href="/manifest.json">
        <script>
            // This was from some example on GitHub, can't find it though :(
            if ("serviceWorker" in navigator) {
                navigator.serviceWorker
                .register("/js/sw.js")
                .then(function (registration) {
                })
                .catch(function (err) {
                    console.log("ServiceWorker registration failed: ", err);
                });
            }
            window.addEventListener("beforeinstallprompt", function (e) {
                e.userChoice.then(function (choiceResult) {
                console.log(choiceResult.outcome);
                if (choiceResult.outcome == "dismissed") {
                    console.log("User cancelled home screen install");
                } else {
                    console.log("User added to home screen");
                }
                });
            });
            </script>
    </head>

    <body>
        <nav>
            <a class="nav-logo" href="/" ><img src="/imgs/teaw_logo.svg" alt="TEAW logo" style="width: 3em;" id="nav-img"></a> 

            <a id="players-link" href="/players">PLAYERS</a>
            <a id="chat-link" href="/chat">CHAT</a>
            <a id="towns-link" href="/towns">TOWNS</a>
            <a id="map-link" href="/map">MAP</a>
            <a id="wars-link" href="/wars">WARS</a>
            <a id="showcase-link" href="/showcase">SHOWCASE</a>

            <div class="online-players">
                 <h3><span id="online-count"></span> online</h3>
                <!-- https://developer.mozilla.org/en-US/docs/Learn/HTML/Howto/Use_data_attributes -->
                <div class="status-bubble" data-state="off"></div>
            </div>
        </nav>

        <div class="main-content">
            <!-- Begin child document -->
            {% block content %}
            {% endblock %}
            <!-- End child document -->
        </div>

        <footer class="footer">
            <a href="https://discord.com/invite/aNMhxynFS2" target="_blank"><i class="fab fa-discord"></i></a> |
            <a href="https://www.curseforge.com/minecraft/modpacks/toendallwars" target="_blank"><i class=""></i></a> |
            <a href="https://toendallwars.fandom.com/wiki/ToEndAllWars_Wiki" target="_blank"><i class="fab fa-wpforms"></i></a> |
            <a href="https://github.com/besser435/TEAW-Website" target="_blank"><i class="fab fa-github"></i></a>

            <p id="site-version" style="margin-top: 5px;">Website version: {{ last_commit_date }}</p>    <!-- TODO: Update this -->
        </footer>
    </body>

    <script src="/js/base.js"></script>
</html>
