{% extends "base.html" %}
{% block title %}Chat - TEAW{% endblock %}
{% block content %}

<div class="header">
    <h1>Chat</h1>
    <input class="search" type="text" id="chat-search" autocomplete="off" spellcheck="false" placeholder="Search">
</div>


<div>
    <h3>TODO:</h3>

    <h3>INVESTIGATE TAPI MESSAGE DISPLAY TYPE</h3>

    <li>Fix HTML injection. Ensure emojis and control chars still work.</li>
    <li>Search by username or message content</li>

    <li>Fix scrollbars being present when no need for them.</li>
    <li>Add page scrolling and scroll to bottom button</li>

    <style>li, h3 {color: red;}</style>
</div>


<div class="chat-feed"></div>

<div class="info-bubble-container">
    <div class="info-bubble"><b><span id="message-count">0</span></b> Messages logged</div>
    <div class="info-bubble"> Day: <b><span id="days-elapsed">0</b></span></div>
    <div class="info-bubble"> Weather: <b><span id="world-weather">Clear</span></b></div>

     <!-- Either remove, or add code to interpolate time between updates -->
    <div class="info-bubble"> Time: <b><span id="world-time">06:00</span></b></div>
</div>

<link rel="stylesheet" type="text/css" href="/css/chat.css">
<script src="/js/chat.js"></script>

{% endblock %}
