{% extends "base.html" %}
{% block title %}Home - TEAW{% endblock %}
{% block content %}

<div class="greeting">
    <img src="/imgs/teaw_logo.svg" style="width: 8em" alt="TEAW logo">
    <h1>ToEndAllWars</h1>
    <p><i>Will you participate in the war to end all wars?</i></p>
</div>

<div class="container">
    <h3>About Us</h3>
    <p>TEAW is a modded, Earth-based, factions server set in the 1800s.</p>
    <p>Created by Theeno74, the server has amassed over 300 unique players over the past 2 years.</p>
</div>
<div class="container">
    <h3>Info & Resources</h3>
    <p class="link-button">
        <a href="https://discord.com/invite/aNMhxynFS2" id="discord" target="_blank">
        <img src="/imgs/discord_mark.svg" height="12" alt="Discord link">Discord Community</a>
    </p>
    <p class="link-button">
        <a href="https://www.curseforge.com/minecraft/modpacks/toendallwars" id="modpack" target="_blank">
        <img src="/imgs/curseforge_mark.svg" height="10" alt="Discord link">Curseforge Modpack</a>
    </p>
    <p>IP: <b>play.toendallwars.org</b></p>
</div>
<div class="container">
    <h3>Notable Mods and Plugins</h3>
    <ul>
        <li>Create (+ addons)</li>
        <li>Farmer's Delight</li>
        <li>WildWestGuns3D</li>
        <li>Simple Planes</li>
        <li>Mighty Mail</li>
        <li>Towny</li>
        <li>Towny War</li>
        <li>TAPI (our own API plugin)</li>
        <li>and more!</li>
    </ul>
</div>

<link rel="stylesheet" type="text/css" href="/css/home.css">

{% endblock %}
