{% extends "base.html" %}
{% block title %}Home - TEAW{% endblock %}
{% block content %}

<div class="header">
    <h1>Palette Page</h1>
</div>

<h1>This is header 1</h1>
<h2>This is header 2</h2>
<h3>This is header 3</h3>
<p>This is a paragraph (colors/size may need to be changed in the CSS depending on where it is used)</p>

<div class="info-bubble"><b>10</b> online players</div>

<div>
    <h3>TODO:</h3>
    <li>Fix scrollbars being present when no need for them.</li>
    <li>Add phantom box on the map page to appear before the map loads (it takes a while)</li>
    <li>Fix CSS on map (and chat page, its broken now) page so that it fits in the viewport without scrolling</li>
    <li><a href="https://user-images.githubusercontent.com/613943/204413553-4ad63bb2-50eb-4f17-a019-f2f0c2bf7812.png">border radius formula</a></li>

    <style>li, h3, a {color: red;}</style>
</div>

<br>
<p><a href="/api/status" target="_blank" style="color: cyan;">/api/status</a></p>
<br>
<p><a href="/api/player_skin/5663c72f-18c5-4012-b28c-78784c2ca736" target="_blank" style="color: cyan;">/api/player_skin/5663c72f-18c5-4012-b28c-78784c2ca736</a></p>
<br>
<p><a href="/api/players" target="_blank" style="color: cyan;">/api/players</a></p>
<br>
<p><a href="/api/chat_messages" target="_blank" style="color: cyan;">/api/chat_messages</a></p>
<br>
<p><a href="/api/chat_misc" target="_blank" style="color: cyan;">/api/chat_misc</a></p>
<br>

<p>
    play.toendallwars.org == minecraft earth<br>
    https://map.toendallwars.org == earth bluemap proxied through besserserv<br>
    https://play.toendallwars.org<br>
</p>

<div class="status-light" id="status-bubble" data-state="green"></div>
<br>
<div class="status-light" id="status-bubble" data-state="yellow"></div>
<br>
<div class="status-light" id="status-bubble" data-state="red"></div>
<br>
<div class="status-light" id="status-bubble" data-state="off"></div>


{% endblock %}
