{% extends "base.html" %}
{% block title %}Home - TEAW{% endblock %}
{% block content %}

<div class="greeting">
    <img src="/imgs/teaw_logo.svg" alt="TEAW logo">
    <h1>ToEndAllWars</h1>
    <p><i>Will you participate in the war to end all wars?</i></p>
</div>

<div class="container">
    <h3>About Us</h3>
    <p>TEAW is a modded, Earth-based, factions server focused in the 1800s.</p>
    <p>Created by Theeno74, the server has amassed over 250 unique players over the past 2 years.</p>
</div>

<div class="container">
    <h3>Info & Resources</h3>
    <p class="link-button"><a href="https://discord.com/invite/aNMhxynFS2" id="discord"><img src="/imgs/discord_mark.svg" height="12" alt="Discord link">Discord Community</a></p>
    <p class="link-button"><a href="https://www.curseforge.com/minecraft/modpacks/toendallwars" id="modpack"><img src="/imgs/curseforge_mark.svg" height="10" alt="Discord link">Curseforge Modpack</a></p>
    <p>IP: <b>play.toendallwars.org</b></p>
</div>

<link rel="stylesheet" type="text/css" href="/css/home.css">

{% endblock %}
