{% extends "base.html" %}
{% block title %}Map - TEAW{% endblock %}
{% block content %}

<div class="header">
    <h1>Map</h1>
    <div class="seperator"></div>
    <a href="http://map.toendallwars.org:1849" target="_blank" class="header-button">Open in New Tab</a>
</div>

<!-- Takes a while to load, add placeholder that is the same size as the iframe, then delete it when the map starts to load -->
<!-- Height is card coded, fix -->
<iframe src="http://map.toendallwars.org:1849" width="100%" height="1000px" style="border: none; border-radius: 0.8em;"></iframe>

{% endblock %}
