{% extends "base.html" %}
{% block title %}Map - TEAW{% endblock %}
{% block content %}

<div class="header">
    <h1>Map</h1>
    <div class="separator"></div>
    <a href="https://map.toendallwars.org" target="_blank" class="header-button">Open in New Tab</a>
</div>

<!-- Takes a while to load, which is why we have the placeholder -->
<div class="placeholder">
    <iframe src="https://map.toendallwars.org" ></iframe>
</div>


<style>
    .footer {
        margin: 0px;
    }

    .placeholder {
        width: 100vw;
        height: calc(100vh - 200px);
        min-height: 200px;

        background-color: black;
        background-size: cover;
        background-position: center;
        background-image: url("/imgs/loading.svg");

        margin-left: -1rem;
    }

    iframe {
        width: 100vw;
        height: calc(100vh - 200px);
        min-height: 200px;

        border: none;
        border-radius: 0px;
    }

    @media (max-width: 900px) {
        .footer, .header {
            display: none;
        }

        .placeholder, iframe {
            height: calc(100vh - 74px);
        }

        .main-content {
            margin-bottom: 0;
            overflow: hidden;
        }
    }
</style>

{% endblock %}
