{% extends "base.html" %}
{% block title %}Players - TEAW{% endblock %}
{% block content %}

<div class="header">
    <h1>Players</h1>
    
    <input class="search" type="text" id="chat-search" autocomplete="off" spellcheck="false" placeholder="Search">
</div>

<div class="player-grid"></div>

<div class="info-bubble-container">
    <div class="info-bubble"><b><span id="active-count">0</span></b> Active players</div>
    <div class="info-bubble"><b><span id="total-count">0</span></b> Total players</div>
    <div class="info-bubble"><b><span id="total-player-money">0</span></b> Total money</div>
</div>

<link rel="stylesheet" type="text/css" href="/css/players.css">
<script src="/js/players.js"></script>

{% endblock %}
