{% extends "base.html" %}
{% block title %}Showcase - TEAW{% endblock %}
{% block content %}

<div class="header">
    <h1>Player Photo Showcase</h1>

    <div class="separator"></div>
    <a href="/showcase/submit" class="header-button">Submit a Photo</a>
</div>

<div class="showcase-grid">

    <div class="photo-card">
        <img src="/imgs/placeholder.png" class="photo-image">

        <div class="photo-info">
            <h3 class="photo-title">Big Test</h3>
            <p class="photo-details"><span id="info-date">October 8th, 2024</span> by <span id="info-photographer">brandonusa</span></p>
        </div>
    </div>

    <div class="photo-card">
        <img src="/imgs/placeholder.png" class="photo-image">

        <div class="photo-info">
            <h3 class="photo-title">Big Test</h3>
            <p class="photo-details"><span id="info-date">October 8th, 2024</span> by <span id="info-photographer">brandonusa</span></p>
        </div>
    </div>

    <div class="photo-card">
        <img src="/imgs/placeholder.png" class="photo-image">

        <div class="photo-info">
            <h3 class="photo-title">Big Test</h3>
            <p class="photo-details"><span id="info-date">October 8th, 2024</span> by <span id="info-photographer">brandonusa</span></p>
        </div>
    </div>

    <div class="photo-card">
        <img src="/imgs/placeholder.png" class="photo-image">

        <div class="photo-info">
            <h3 class="photo-title">Big Test</h3>
            <p class="photo-details"><span id="info-date">October 8th, 2024</span> by <span id="info-photographer">brandonusa</span></p>
        </div>
    </div>

    <div class="photo-card">
        <img src="/imgs/placeholder.png" class="photo-image">

        <div class="photo-info">
            <h3 class="photo-title">Big Test</h3>
            <p class="photo-details"><span id="info-date">October 8th, 2024</span> by <span id="info-photographer">brandonusa</span></p>
        </div>
    </div>

   

    

</div>

<link rel="stylesheet" type="text/css" href="/css/showcase.css">
<script src="/js/showcase.js"></script>

{% endblock %}
