{% extends "base.html" %}
{% block title %}Stats - TEAW{% endblock %}
{% block content %}


<div class="header">
    <h1>Statistics Leaderboard</h1>

    <div class="separator"></div>
    <h2>Sort by:</h2>
    <select id="sort-select">
        <option value="high-to-low">High to Low</option>
        <option value="low-to-high">Low to High</option>
        <option value="username">Username</option>
    </select>

    <input class="search" type="text" id="search" autocomplete="off" spellcheck="false" placeholder="Search">
</div>


<div class="leaderboard">
    <div class="leaderboard-header">
        <select id="stat-select">
            <!-- Normal stats with their endpoint -->
            <option value="DEATHS" data-stat-type="0">Number of deaths</option>
            <option value="TIME_SINCE_DEATH" data-stat-type="0">Time since last death</option>
            <option value="PLAYER_KILLS" data-stat-type="0">Player kills</option>
            <option value="TOTAL_WORLD_TIME" data-stat-type="0">Time played</option>
            <option value="PIG_ONE_CM" data-stat-type="0">Distance by pig</option>
            <option value="ANIMALS_BRED" data-stat-type="0">Animals bred</option>
            <option value="CAKE_SLICES_EATEN" data-stat-type="0">Cake slices eaten</option>
            <option value="CRAFTING_TABLE_INTERACTION" data-stat-type="0">Interactions with crafting table</option>
            <option value="TRADED_WITH_VILLAGER" data-stat-type="0">Traded with villagers</option>
            <option value="SLEEP_IN_BED" data-stat-type="0">Times slept in a bed</option>

            <!-- Custom stats on a different endpoint -->
            <option value="PLAYTIME_DEATH_RATIO" data-stat-type="1">Playtime to death ratio</option>
            <option value="BLOCKS_MINED" data-stat-type="1">Total Blocks Mined</option>
        </select>

        <h3 id="unit-label"></h3>
    </div>

    <div class="vertical-seperator"></div>

    <div class="stats-container">
        <div class="search-not-found-msg" id="no-players-found" style="display: none;">Your search did not match any players</div>
    </div>
</div>


<script>
    const updateRate = 3_000;   // TODO: up to 10s after debugging

    class StatEntry {
        constructor(rank, uuid, username, value) {
            this.rank = rank;
            this.uuid = uuid;
            this.username = username;
            this.value = value;
        }
    }

    async function fetchLeaderboard() {
        try {
            const stat = document.getElementById("stat-select");
            const selectedOption = stat.options[stat.selectedIndex];
            const statType = selectedOption.getAttribute("data-stat-type");

            let response;
            if (statType === "0") {
                response = await fetch(`/api/get_general_leaderboard/${stat.value}`);
            } else if (statType === "1") {
                response = await fetch(`/api/get_custom_stat/${stat.value}`);
            }

            const data = await response.json();
            
            const entries = data.leaderboard.map((entry, index) => {
                return new StatEntry(
                    index + 1,
                    entry.uuid,
                    entry.name,
                    parseFloat(entry.value)
                );
            });

            return {
                entries: entries,
                units: data.units
            };

        } catch (error) {
            console.error(error);
            return null;
        }
    }


    function sortLeaderboard(data, sortMethod) {
        const entriesCopy = [...data];  // Copy to avoid bunging the original data

        // Sorted by rank rather than value, as if there are ties the ranks can be out of order,
        // which would look funny.
        switch (sortMethod) {
            case "high-to-low":
                return entriesCopy.sort((a, b) => a.rank - b.rank);
            case "low-to-high":
                return entriesCopy.sort((a, b) => b.rank - a.rank);
            case "username":
                return entriesCopy.sort((a, b) => a.username.localeCompare(b.username));
        }
    }


    function renderLeaderboard(data, unit, currentSort) {
        // Clears the current entries but not the search error message
        const statsContainerSelector = document.querySelector(".stats-container");
        statsContainerSelector.querySelectorAll(".stat-entry").forEach(el => el.remove());

        const unitLabel = document.getElementById("unit-label");
        unitLabel.textContent = unit.charAt(0).toUpperCase() + unit.slice(1);

        
        // Create and append new entries
        const statsContainer = document.querySelector(".stats-container");
        const sortedData = sortLeaderboard(data, currentSort);

        sortedData.forEach(entry => {
            const entryDiv = document.createElement("div");
            entryDiv.className = "stat-entry";
            
            entryDiv.innerHTML = `
                <h3 class="player-rank">#${entry.rank}</h3>
                <img class="player-face" src="/api/player_face/${entry.uuid}">
                <h3 class="player-name">${entry.username}</h3>
                <h3 class="player-stat-value">${entry.value}</h3>
            `;
            
            statsContainer.appendChild(entryDiv);
        });
    }


    async function initializeLeaderboard() {
        const statSelect = document.getElementById("stat-select");
        const sortSelect = document.getElementById("sort-select");
        const search = document.getElementById("search");

        let currentSort = sortSelect.value;
        let searchQuery = "";
        let currentData = null;

        // Initial load
        currentData = await fetchLeaderboard();
        if (currentData) renderLeaderboard(currentData.entries, currentData.units, currentSort);

        // Sort method changes
        sortSelect.addEventListener("change", () => {
            currentSort = sortSelect.value;
            if (currentData) renderLeaderboard(currentData.entries, currentData.units, currentSort);
        });

        // Selected stat changes
        statSelect.addEventListener("change", async () => {
            currentData = await fetchLeaderboard();
            if (currentData) renderLeaderboard(currentData.entries, currentData.units, currentSort);
        });

        // Search input
        // will add later

        // Periodic updates
        setInterval(async () => {
            currentData = await fetchLeaderboard();
            if (currentData) renderLeaderboard(currentData.entries, currentData.units, currentSort);
        }, updateRate);
    }
    initializeLeaderboard();
</script>




<style>
    .leaderboard {
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 28px;
        padding: 10px;
        padding-bottom: 0px;
        width: 500px;
        margin-inline: auto;
        overflow: hidden;
    }

    .stat-entry {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 5px 16px;
        background-color: rgba(69, 69, 69, 0.4);
        margin: 7px 0;
        border-radius: 2rem;
        border: 2px solid rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.85);
        font-family: "Inter", sans-serif;
    }

    .stat-entry h3 {
        font-size: 1.2em;
    }

    .leaderboard-header {
        display: flex;
        height: 27px;
        align-items: center;
    }

    #stat-select {
        margin-left: 0px;
    }

    #unit-label {
        margin-left: auto;
        margin-right: 10px;
        color:rgba(255, 255, 255, 0.8);
        font-size: 1.2rem;
    }

    .vertical-seperator {
        min-height: 4px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 2rem;
        margin-top: 10px;
    }

    .stats-container {
        overflow-y: scroll;
        height: calc(100vh - 276px);
        padding-block: 5px;
    }

    .player-rank {
        min-width: 70px;
        color: rgba(255, 255, 255, 0.85)
    }

    .player-face {
        width: 32px;
        height: 32px;
        border-radius: 5px;
        image-rendering: pixelated;
        margin-right: 10px;
    }

    .player-name {
        font-weight: bold;
    }

    .player-stat-value {
        margin-left: auto;
    }

</style>


{% endblock %}
