{% extends "base.html" %}
{% block title %}Towns - TEAW{% endblock %}
{% block content %}

<div class="header">
    <h1>Towns</h1>

    <div class="separator"></div>
    <h2>Sort by:</h2>
    <select id="sort-select">
        <option value="a-z-grouped">A to Z Grouped</option>
        <option value="active-a-z">Active First</option>
        <option value="old-new">Oldest to Newest</option>
    </select>

    <input class="search" type="text" id="town-search" autocomplete="off" spellcheck="false" placeholder="&#x1F50D; Search">
</div>

<div class="container-grid">
    <div class="search-not-found-msg" id="no-towns-found" style="display: none;">Your search did not match any towns</div>
</div>

<div class="info-bubble-container">
    <div class="info-bubble" title="A town is considered active if at least 30% of its residents have logged on in the last 14 days.">
        <b><span id="active-towns" class="mono-font">00</span></b> Active towns
    </div>
    <div class="info-bubble"><b><span id="total-towns" class="mono-font">00</span></b> Total towns</div>
    <div class="separator"></div>

    <div class="info-bubble" title="A nation is considered active if at 1 town is active.">
        <b><span id="active-nations" class="mono-font">00</span></b> Active nations
    </div>
    <div class="info-bubble"><b><span id="total-nations" class="mono-font">00</span></b> Total nations</div>
    <div class="separator"></div>

    <div class="info-bubble"><b><span id="total-money" class="mono-font">$000,000</span></b> Total money</div>
</div>

<link rel="stylesheet" type="text/css" href="/css/players-towns_common.css">
<link rel="stylesheet" type="text/css" href="/css/towns.css">
<script src="/js/towns.js"></script>

{% endblock %}
