/* Common styles used on many pages */



/* Option button */


/* Status Lights */
/* TODO: Use variables so the same RGB value isn't present in 30 different places */
.status-light {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;

    transition: all 0.6s ease;
}

.status-light[data-state="green"] {
    background-color:         rgb(65, 222, 99);
    box-shadow: 0 0 16px 3px rgba(65, 222, 99, 0.5);

    border: 0.2em solid rgb(34, 135, 56);
}

.status-light[data-state="yellow"] {
    background-color:         rgb(222, 187, 65);
    box-shadow: 0 0 16px 3px rgba(222, 187, 65, 0.5);

    border: 0.2em solid rgb(135, 112, 34);
}

.status-light[data-state="red"]:not([data-pulse="true"]) {
    background-color:         rgb(222, 65, 65);
    box-shadow: 0 0 16px 4px rgba(222, 65, 65, 0.5);
    border: 0.2em solid rgb(135, 34, 34);
}

.status-light[data-state="red"][data-pulse="true"] {
    background-color:         rgb(222, 65, 65);
    box-shadow: 
        0 0 16px 4px rgba(222, 65, 65, 0.5),
        0 0 0 0 rgba(222, 65, 65, 0.5);
    animation: pulse-red 3s infinite;
    border: 0.2em solid rgb(135, 34, 34);
}

.status-light[data-state="off"] {
    background-color: rgb(69, 69, 69);
    box-shadow: none;

    border: 0.2em solid rgb(46, 46, 46);
}

@keyframes pulse-red {
    0% {
        box-shadow: 
            0 0 16px 4px rgba(222, 65, 65, 0.5),
            0 0 0 0 rgba(222, 65, 65, 0.5);
    }
    70% {
        box-shadow: 
            0 0 16px 4px rgba(222, 65, 65, 0.5),
            0 0 0 16px rgba(222, 65, 65, 0);
    }
    100% {
        box-shadow: 
            0 0 16px 4px rgba(222, 65, 65, 0.5),
            0 0 0 0 rgba(222, 65, 65, 0);
    }
}


/* Info bubble */
/* TODO: switch to em units where appropriate */
.info-bubble-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info-bubble {
    color: #FFFFFF;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;

    max-width: 200px;
    padding: 3px 5px;
    margin-right: 0.5em;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
}


/* Search Boxes */
.search {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);

    font-family: "Inter", sans-serif;
    font-weight: 700;

    border-radius: 2rem;
    height: 25px;
    width: 150px;
    padding: 2px 10px;
    margin-left: auto;

    transition: border-color 0.15s, box-shadow 0.15s;
    &:focus {
        outline: none;
        border-color: #007BFF;
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    }
}


/* Messages */
/* Should be in chat.css but it's not working */
.chat-feed {
    height: calc(100vh - 260px);
    overflow-y: scroll;
    margin-bottom: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.message-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: "Inter", sans-serif;
    margin-bottom: -10px;
}

.message-info {
    display: flex;
    flex-direction: row;

    color: #FFFFFF;
    font-style: normal;

    /* TODO: Make min-width the length of the longest message-info/username.
    Also set a max length, so that if someone has a crazy name it doesnt overflow. */
    min-width: 220px;
    padding: 3px 5px 3px 3px;
    margin-right: 0.5em;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.message-info .profile-pic {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 5px;
    image-rendering: pixelated;
}

.message-info .sender {
    font-weight: 800;
}

.message-info .timestamp {
    margin-left: auto;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.3);
}

.message-info[data-message-type="status"] {
    background-color: rgba(0, 255, 255, 0.1);
    border-color: rgba(0, 255, 255, 0.1);
}

.message-info[data-message-type="join"] {
    background-color: rgba(0, 255, 0, 0.1);
    border-color: rgba(0, 255, 0, 0.1);
}

.message-info[data-message-type="discord"] {
    background-color: rgba(114, 137, 218, 0.2);
    border-color: rgba(114, 137, 218, 0.2);
}

.message-info[data-message-type="quit"] {
    background-color: rgba(255, 0, 0, 0.1);
    border-color: rgba(255, 0, 0, 0.1);
}

.message-info[data-message-type="death"] {
    background-color: rgba(100, 25, 255, 0.2);
    border-color: rgba(100, 25, 255, 0.2);
}

.message-info[data-message-type="advancement"] {
    background-color: rgba(255, 200, 0, 0.1);
    border-color: rgba(255, 200, 0, 0.1);
}

