/* Styles used on every page inheriting from the base template */


/* All Text styles */



/* All Color styles */

/* Background image */
/* debug help */
body {
    background-image: url("/imgs/background_min.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    filter: blur(2em);
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -5;
}
