/* Styles for the Chat page */

.chat-feed {
    height: calc(100vh - 300px);
    min-height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 10px;
    padding-top: 0px;
}

.message-container {
    display: grid;
    grid-template-columns: 290px 1fr;
    gap: 0.5em;
    align-items: stretch;
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    color: #FFFFFF;
}

.message-info {
    display: flex;
    align-items: center;
    justify-content: end;
    min-width: 200px;
    padding: 3px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
}

.message-text {
    margin-block: auto;
    word-break: break-word;
}

.message-info .profile-pic {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    image-rendering: pixelated;
}

.message-info .sender {
    font-weight: 800;
    margin: 0 8px 0 8px;
}

.message-container .timestamp {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.3);
    margin-left: auto;
    min-width: fit-content;

    display: flex;
    align-items: center;
}

.message-info[data-message-type="status"] {
    background-color: rgba(0, 255, 255, 0.1);
    border-color: rgba(0, 255, 255, 0.1);
}

.message-info[data-message-type="join"] {
    background-color: rgba(0, 255, 0, 0.1);
    border-color: rgba(0, 255, 0, 0.1);
}

.message-info[data-message-type="discord"] {
    background-color: rgba(114, 137, 218, 0.2);
    border-color: rgba(114, 137, 218, 0.2);
}

.message-info[data-message-type="quit"] {
    background-color: rgba(255, 0, 0, 0.1);
    border-color: rgba(255, 0, 0, 0.1);
}

.message-info[data-message-type="death"] {
    background-color: rgba(100, 25, 255, 0.2);
    border-color: rgba(100, 25, 255, 0.2);
}

.message-info[data-message-type="advancement"] {
    background-color: rgba(255, 200, 0, 0.1);
    border-color: rgba(255, 200, 0, 0.1);
}

#scroll-to-bottom {
    color: white;
    background-color: rgb(0, 76, 255);
    text-align: center;

    margin-inline: 0.25em;

    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-decoration: none;
    border: none ;
    padding: 0.4em 0.8em;
    border-radius: 10em;

    cursor: pointer;
    
    transition: background-color 0.3s, outline 0.3s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

#scroll-to-bottom:hover {
    background-color: #0056b3;
}

.material-symbols-rounded {
    font-size: 20px;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
}

@media (max-width: 950px) {
    .chat-feed {
        border-radius: 25px;
        padding-top: 5px;
    }

    .message-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;

        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.1);
        border: 2px solid rgba(255, 255, 255, 0.1);
        padding: 5px;
        margin-top: 5px;
    }

    .message-info {
        min-width: fit-content;
        max-height: 30px;
        flex-direction: row-reverse;
        order: 1;
    }

    .message-container .timestamp {
        order: 2;
        margin: 5px 5px 0px auto
    }

    .message-info .sender {
        margin-right: 2px;
    }

    .message-text {
        padding-left: 4px;
        padding-right: 4px;
        order: 3;
        width: 100%;
        word-break: break-word;
    }
}
