/* Styles for the Towns page */
.color-pill {
    display: inline-block;
    width: 1.4em;
    height: 80%;
    margin: 12px;
    border-radius: 10em;

    border: 0.2em solid;
}

.card-container {
    height: 125px;
}

@media (max-width: 950px) {
    .color-pill {
        display: inline-block;
        width: 1em;
        height: 80%;
        margin: 12px;
    }
}